[package]
name = "fshc"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.2", features = ["derive", "help", "color"] }
thiserror = "1"
sysexits = "0.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1"

[target.'cfg(any(target_os = "linux"))'.dependencies]
procfs = "0.15"

[target.'cfg(any(target_os = "macos"))'.dependencies]
libproc = "0.13"

[target.'cfg(target_os = "windows")'.dependencies.windows-sys]
version = "0.48"
features = [
  "Win32_System_WindowsProgramming",
  "Win32_Foundation"
]
