name: Build and test

on:
  push:
    paths:
      - ".github/workflows/ci.yml"
      - ".github/scripts/**"
      - ".config/nextest.toml"
      - "src/**"
      - "tests/**"
      - "Cargo.toml"
      - "Cargo.lock"
  pull_request: {}

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings

jobs:
  lint:
    name: Lint
    strategy:
      matrix:
        runner:
          - ubuntu-22.04
          - ubuntu-24.04
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6

      - name: Free up disk space
        run: .github/scripts/free_disk_space.sh

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Lint (clippy)
        run: cargo clippy --all-targets

      - name: Lint (rustfmt)
        run: cargo fmt --all --check

  build-and-test:
    name: Build and test
    needs: lint
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04
          - macos-latest
          - windows-latest
        rust:
          - stable
          - beta

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Free up disk space
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: .github/scripts/free_disk_space.sh

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - uses: taiki-e/install-action@nextest

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo nextest run --cargo-profile ci --no-fail-fast --all-features --no-tests=pass
        env:
          NEXTEST_RETRIES: 2
          RUST_BACKTRACE: 1
