name: Release

on:
  workflow_dispatch:
  push:
    tags:
    - 'v\d\.\d\.\d'

defaults:
  run:
    shell: bash

permissions:
  contents: write

jobs:
  release:
    name: Build and Archive

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          # macOS, aarch64
          - target: aarch64-apple-darwin
            os: macos-latest
            target_rustflags: ''
          # Windows, x86-64
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            target_rustflags: ''
          # Windows, aarch64
          - target: aarch64-pc-windows-msvc
            os: windows-11-arm
            target_rustflags: ''
          # Linux, x86-64, glibc
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-22.04
            target_rustflags: ''
          # Linux, aarch64, glibc
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            target_rustflags: ''
          # Linux, x86-64, static musl
          - target: x86_64-unknown-linux-musl
            os: ubuntu-22.04
            target_rustflags: ''
          # Linux, aarch64, static musl
          - target: aarch64-unknown-linux-musl
            os: ubuntu-24.04-arm
            target_rustflags: ''

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust toolchains
        uses: dtolnay/rust-toolchain@beta
        with:
          toolchain: beta
          targets: ${{ matrix.target }}

      - name: Install Nu Shell
        uses: hustcer/setup-nu@v3
        with:
          version: '0.100'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build an fshc release archive on macOS
        id: release-build-macos
        if: ${{ matrix.os == 'macos-latest' }}
        run: nu ./scripts/release-macos.nu
        env:
          OS: ${{ matrix.os }}
          TARGET: ${{ matrix.target }}
          TARGET_RUSTFLAGS: ${{ matrix.target_rustflags }}
          SRC: ${{ github.workspace }}
      - name: Store macOS build artifact
        id: upload-macos-artifact
        if: ${{ matrix.os == 'macos-latest' }}
        uses: actions/upload-artifact@v6
        with:
          name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.tar.gz"
          path: "${{ github.workspace }}/target/${{ matrix.target }}/release/fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.tar.gz"
          retention-days: 2

      - name: Build an fshc release archive on Linux
        id: release-build-linux
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: nu ./scripts/release-linux.nu
        env:
          OS: ${{ matrix.os }}
          TARGET: ${{ matrix.target }}
          TARGET_RUSTFLAGS: ${{ matrix.target_rustflags }}
          SRC: ${{ github.workspace }}
      - name: Store Linux build artifact
        id: upload-linux-artifact
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        uses: actions/upload-artifact@v6
        with:
          name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.tar.gz"
          path: "${{ github.workspace }}/target/${{ matrix.target }}/release/fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.tar.gz"
          retention-days: 2

      - name: Build an fshc release archive on Windows
        id: release-build-windows
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: nu ./scripts/release-windows.nu
        env:
          OS: ${{ matrix.os }}
          TARGET: ${{ matrix.target }}
          TARGET_RUSTFLAGS: ${{ matrix.target_rustflags }}
          SRC: ${{ github.workspace }}
      - name: Store Windows build artifact
        id: upload-windows-artifact
        if: ${{ startsWith(matrix.os, 'windows') }}
        uses: actions/upload-artifact@v6
        with:
          name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.zip"
          path: "${{ github.workspace }}/target/${{ matrix.target }}/release/fshc-${{ vars.NEXT_RELESE_VERSION }}-${{ matrix.target }}.zip"
          retention-days: 2

  create_gh_release:
    name: Create GitHub Release
    needs: [release]
    runs-on: ubuntu-latest
    steps:
    - name: Fetch macOS archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-aarch64-apple-darwin.tar.gz"
        path: ./artifacts
    - name: Fetch Linux x86_64 glibc archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-x86_64-unknown-linux-gnu.tar.gz"
        path: ./artifacts
    - name: Fetch Linux aarch64 glibc archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-aarch64-unknown-linux-gnu.tar.gz"
        path: ./artifacts
    - name: Fetch Linux x86_64 static musl archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-x86_64-unknown-linux-musl.tar.gz"
        path: ./artifacts
    - name: Fetch Linux aarch64 static musl archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-aarch64-unknown-linux-musl.tar.gz"
        path: ./artifacts
    - name: Fetch Windows x86_64 archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-x86_64-pc-windows-msvc.zip"
        path: ./artifacts
    - name: Fetch Windows aarch64 archive
      uses: actions/download-artifact@v7
      with:
        name: "fshc-${{ vars.NEXT_RELESE_VERSION }}-aarch64-pc-windows-msvc.zip"
        path: ./artifacts
    - name: Publish fshc release archive
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ vars.NEXT_RELESE_VERSION }}
        draft: false
        files: ./artifacts/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
